@font-face {
  font-family: "opendyslexic";
  src: url("dyslexic/OpenDyslexic-Regular.eot");
  src: url("dyslexic/OpenDyslexic-Regular.woff") format("woff"),
       url("dyslexic/OpenDyslexic-Regular.ttf") format("truetype"),
  font-weight: normal;
  font-style: normal;
}

body,p,div,html,h1,h2,h3,h4,h5,h6,blockquote,table,tr,td,strong,em,a,span {
  font-family: "opendyslexic" !important;
}